[package]
name = "watchmate"
version = "0.4.4"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
infinitime = { path = "../infinitime", features = ["freedesktop", "github"] }
relm4 = { version = "0.6.0-alpha.2", features = ["libadwaita", "gnome_43"] }
relm4-components = "0.6.0-alpha.2"
futures = "0.3"
anyhow = "1.0"
version-compare = "0.1"
log = "0.4"
env_logger = "0.10"
