[Desktop Entry]
Name=WatchMate
GenericName=PineTime Companion App
Comment=Sync and integrate with PineTime smart watch
Exec=watchmate
Icon=io.gitlab.azymohliad.WatchMate
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
Keywords=InfiniTime;PineTime;Smartwatch;Companion;Time;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
